@charset "utf-8";
/* CSS Document */

#container{
	max-width:500px;
	max-height:550px;
	overflow:hidden;
}

#foto{
	width:100%;
	clear:both;
}

#foto img{
	width: 100%;	
}

#descrizione{
	width:40%;
	color:#000;
	font: 16px 'Oswald', sans-serif;
	font-weight: 400;
	padding-left:3%;
}